<a href="https://colab.research.google.com/github/MarceloAugusto94/Engenharia_de_Dados/blob/main/DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
series = pd.Series([7, 4, 2, np.nan, 6, 9])

In [3]:
series

0    7.0
1    4.0
2    2.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [4]:
type(series)

pandas.core.series.Series

In [6]:
datas = pd.date_range('20180101', periods = 6)

In [7]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
?pd.date_range()

In [9]:
type(datas)

pandas.core.indexes.datetimes.DatetimeIndex

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))

In [11]:
np.random.randn(6,4)

array([[-0.53260221,  0.98688761,  1.42558772,  0.82647989],
       [-1.75058924, -0.09387277, -0.90115799, -0.46587682],
       [ 0.41365954,  0.70287971,  0.66802952,  0.69477592],
       [-0.18695446, -1.09243574, -2.88491632, -0.85861342],
       [ 1.40955223, -0.20219575, -1.74118498, -2.24880923],
       [-1.0816678 ,  0.0331762 ,  1.49731267,  0.22791992]])

In [13]:
list("ABCD") # ['A', 'B', 'C', 'D']

['A', 'B', 'C', 'D']

In [14]:
df

                   A         B         C         D
2018-01-01  1.362868 -0.239742 -1.518395  1.123394
2018-01-02  0.422289  0.476082 -2.671673  1.027842
2018-01-03 -1.065551 -0.670172  1.543768 -0.392451
2018-01-04  0.814698 -1.262010  0.284823  1.321200
2018-01-05 -1.048024  0.664295 -0.794683  0.421667
2018-01-06 -0.996254  0.018705 -0.365317 -0.853234

In [15]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df2 = pd.DataFrame({"A": 7, 
                    "B": pd.Timestamp('20190101'),
                    "C": pd.Series(1, index = list(range(4)), dtype = 'float32'),
                    "D": np.array([3] * 4, dtype = 'int32'),
                    "E": pd.Categorical(["test", "train", "test", "train"]),
                    "F": 'Python'})

In [18]:
df2

   A          B    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python

In [19]:
df2.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object