In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A': ['Verdadeiro', 'Falso', 'Verdadeiro', 'Falso', 'Verdadeiro', 'Falso', 'Verdadeiro', 'Falso'],
                   'B': ['Um', 'Um', 'Dois', 'Tres', 'Dois', 'Dois', 'Um', 'Tres'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

df

            A     B         C         D
0  Verdadeiro    Um  1.233306 -1.716157
1       Falso    Um -0.418561 -0.626175
2  Verdadeiro  Dois  0.656017  1.302628
3       Falso  Tres  0.160589 -0.861013
4  Verdadeiro  Dois -1.899968  2.529818
5       Falso  Dois  0.900119 -0.693494
6  Verdadeiro    Um -0.748116  1.364503
7       Falso  Tres -1.230951  0.947329

In [3]:
df.groupby(['A']).sum()

                   C         D
A
Falso      -0.588805 -1.233353
Verdadeiro -0.758761  3.480792

In [4]:
df.groupby(['A']).mean()

                   C         D
A
Falso      -0.147201 -0.308338
Verdadeiro -0.189690  0.870198

In [5]:
df.groupby(['B']).sum()

             C         D
B
Dois -0.343832  3.138953
Tres -1.070362  0.086316
Um    0.066628 -0.977830

In [6]:
df.groupby(['A', 'B']).sum()

                        C         D
A          B
Falso      Dois  0.900119 -0.693494
           Tres -1.070362  0.086316
           Um   -0.418561 -0.626175
Verdadeiro Dois -1.243950  3.832447
           Um    0.485190 -0.351654