In [2]:
import pandas as pd 
import numpy as np

In [28]:
datas = pd.date_range('20190101', periods = 60, freq = 'D')

df = pd.DataFrame(np.random.randn(60, 5), index = datas, columns = list("ABDCE"))

In [29]:
df

                   A         B         D         C         E
2019-01-01  0.850090  0.663761 -0.130476 -1.764898 -0.857256
2019-01-02 -1.154599  0.255571  1.854826 -0.371870 -1.317509
2019-01-03  0.962387  1.005902  0.346492 -0.455035 -1.552245
2019-01-04  0.151573 -0.821915 -0.414145 -0.196850 -1.997518
2019-01-05 -0.038444 -1.629036 -0.615957 -0.507928 -0.983305
2019-01-06  2.713222  1.285255 -0.516526  0.826095  0.268712
2019-01-07 -0.203441  0.143743 -0.864213  1.085107  1.908481
2019-01-08 -1.575128 -0.942667  1.028562  0.484186  0.565787
2019-01-09  1.789502  0.963393  1.743854 -0.210901  1.566642
2019-01-10  0.100374 -1.569987 -1.070890  0.947756 -0.034989
2019-01-11 -1.477169  0.716323  0.229854  0.483159  1.982079
2019-01-12  0.514549  0.409922 -3.410319  0.661706 -2.634019
2019-01-13 -0.169383 -1.404632 -0.403816 -0.541544 -0.671216
2019-01-14  1.140682 -0.465106  2.017919  0.421741 -1.175173
2019-01-15 -2.807839 -1.085856  0.253553 -1.203036  0.668130
2019-01-16 -0.969095 -0.092560  0.646370  0.879749 -0.291177
2019-01-17  1.532694 -0.066103  0.587262 -0.428969  0.439444
2019-01-18  1.161139 -0.488732  1.134575  1.748368  1.477935
2019-01-19 -0.581660  1.337940  0.327971 -0.809112  0.532648
2019-01-20  0.689359  1.426088 -1.760506  0.326052  0.783334
2019-01-21  0.524588 -0.817444  1.717982 -0.348197  0.850322
2019-01-22  1.346332 -1.226114 -1.044585 -0.500266  1.116690
2019-01-23 -0.694728 -0.779398  0.478799  1.561074 -0.748362
2019-01-24  0.884654 -1.817546  1.183765  0.295455  1.259385
2019-01-25  0.432233  2.105485  1.314029 -0.260775  2.459231
2019-01-26 -1.158710 -0.227991 -0.445362 -0.483871  1.047252
2019-01-27 -0.624981 -0.336476  1.344023  0.810630 -0.371423
2019-01-28  0.010300  0.012382 -0.673056  0.395163  0.264969
2019-01-29  0.318031 -0.411835 -0.089067  0.564388 -0.314682
2019-01-30  0.476405  2.840135  0.110456 -1.029068 -0.101438
2019-01-31  0.578881  1.054888 -0.515091 -0.017234 -1.524779
2019-02-01  0.183076  0.883068  1.541549 -0.794822  0.480011
2019-02-02  1.153967  0.028088 -0.440863  0.772758 -0.686658
2019-02-03 -0.560173 -0.658325  0.209831 -1.080265  1.134155
2019-02-04  1.336571  0.322090  2.066702  1.352801  1.280112
2019-02-05 -0.520398  0.722146  0.523300  1.713727 -0.683239
2019-02-06 -0.906716  1.879271 -1.688902 -0.390359  0.214874
2019-02-07  0.189728  0.936827  0.335099  1.829861 -0.025714
2019-02-08  1.199687 -1.266541 -1.116356 -0.246603  0.052609
2019-02-09 -0.748592  0.766084  0.279217 -0.112526  1.229913
2019-02-10  1.205697 -0.044838  0.551671 -0.391850  0.155666
2019-02-11  1.302424 -0.722826 -0.620103 -0.366332  0.039417
2019-02-12 -1.149834  0.749311  0.592369 -0.551858  2.161685
2019-02-13  0.758830  0.590155  0.317630 -0.785493 -0.692645
2019-02-14 -0.153980  0.370735  1.405959  1.638424 -2.319931
2019-02-15 -0.805901  0.112031  0.784757  1.189064 -1.740684
2019-02-16 -0.171330  0.449482 -1.177025 -0.724327  0.870464
2019-02-17  0.582331 -0.079281  1.064590  0.090287  1.117617
2019-02-18  0.736528  0.693420 -0.363933  0.956596 -0.727898
2019-02-19  0.276249 -0.662717 -0.604877 -0.626323 -0.439719
2019-02-20  0.960282 -0.794618 -1.393540 -0.617973 -0.442919
2019-02-21  0.196812 -0.145078 -2.248907 -0.416593  0.501861
2019-02-22  0.568850 -0.086688  0.132032 -0.754538  1.605258
2019-02-23 -0.834377 -0.793020 -0.035779 -0.647905 -0.468967
2019-02-24 -1.286100 -0.276989  1.033007 -0.997992 -0.878452
2019-02-25 -1.305995  1.046714  0.799780 -0.914286 -0.083410
2019-02-26  1.082092  0.028785 -0.263375 -0.067023  0.515700
2019-02-27 -0.499638 -1.269859  1.447367 -0.556023  0.246304
2019-02-28  0.298905 -0.219761 -0.701333 -1.670839 -0.394271
2019-03-01 -1.414214  1.811839 -0.064586 -0.506797 -1.008854

In [30]:
df.shape

(60, 5)

In [31]:
df.head(3)

                   A         B         D         C         E
2019-01-01  0.850090  0.663761 -0.130476 -1.764898 -0.857256
2019-01-02 -1.154599  0.255571  1.854826 -0.371870 -1.317509
2019-01-03  0.962387  1.005902  0.346492 -0.455035 -1.552245

In [32]:
df['F'] = 1

In [33]:
df.head(10)

                   A         B         D         C         E  F
2019-01-01  0.850090  0.663761 -0.130476 -1.764898 -0.857256  1
2019-01-02 -1.154599  0.255571  1.854826 -0.371870 -1.317509  1
2019-01-03  0.962387  1.005902  0.346492 -0.455035 -1.552245  1
2019-01-04  0.151573 -0.821915 -0.414145 -0.196850 -1.997518  1
2019-01-05 -0.038444 -1.629036 -0.615957 -0.507928 -0.983305  1
2019-01-06  2.713222  1.285255 -0.516526  0.826095  0.268712  1
2019-01-07 -0.203441  0.143743 -0.864213  1.085107  1.908481  1
2019-01-08 -1.575128 -0.942667  1.028562  0.484186  0.565787  1
2019-01-09  1.789502  0.963393  1.743854 -0.210901  1.566642  1
2019-01-10  0.100374 -1.569987 -1.070890  0.947756 -0.034989  1

In [34]:
df['G'] =[10, 3, 5, 7]

ValueError: ignored

In [35]:
df['G'] = range(60)

In [36]:
df.head(15)

                   A         B         D         C         E  F   G
2019-01-01  0.850090  0.663761 -0.130476 -1.764898 -0.857256  1   0
2019-01-02 -1.154599  0.255571  1.854826 -0.371870 -1.317509  1   1
2019-01-03  0.962387  1.005902  0.346492 -0.455035 -1.552245  1   2
2019-01-04  0.151573 -0.821915 -0.414145 -0.196850 -1.997518  1   3
2019-01-05 -0.038444 -1.629036 -0.615957 -0.507928 -0.983305  1   4
2019-01-06  2.713222  1.285255 -0.516526  0.826095  0.268712  1   5
2019-01-07 -0.203441  0.143743 -0.864213  1.085107  1.908481  1   6
2019-01-08 -1.575128 -0.942667  1.028562  0.484186  0.565787  1   7
2019-01-09  1.789502  0.963393  1.743854 -0.210901  1.566642  1   8
2019-01-10  0.100374 -1.569987 -1.070890  0.947756 -0.034989  1   9
2019-01-11 -1.477169  0.716323  0.229854  0.483159  1.982079  1  10
2019-01-12  0.514549  0.409922 -3.410319  0.661706 -2.634019  1  11
2019-01-13 -0.169383 -1.404632 -0.403816 -0.541544 -0.671216  1  12
2019-01-14  1.140682 -0.465106  2.017919  0.421741 -1.175173  1  13
2019-01-15 -2.807839 -1.085856  0.253553 -1.203036  0.668130  1  14

In [37]:
df['Produto'] = df['A'] * df['B']

In [40]:
df.head(3)

                   A         B         D         C         E  F  G   Produto
2019-01-01  0.850090  0.663761 -0.130476 -1.764898 -0.857256  1  0  0.564257
2019-01-02 -1.154599  0.255571  1.854826 -0.371870 -1.317509  1  1 -0.295081
2019-01-03  0.962387  1.005902  0.346492 -0.455035 -1.552245  1  2  0.968067

In [39]:
# df['DataAtualização'] = pd.to_datetime('now')