In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print('Bem-vindo ao curso de Python!')

Bem-vindo ao curso de Python!

In [ ]:
# Comentário

In [ ]:
'''
  Comentário!!!
  Posso escrever qualquer coisa!
'''

'\n  Comentário!!!\n  Posso escrever qualquer coisa!\n'

In [ ]:
print('Hello World!  \nskipped a line')

Hello World!
skipped a line

**OPERADORES MATEMÁTICOS**

In [ ]:
# Adição

1 + 3 + 4

8

In [ ]:
# Subtração

4 - 4

0

In [ ]:
# Multiplicação

4 * 4

16

In [ ]:
# Divisão

4 / 4

1.0

In [ ]:
# Exponenciação

2 ** 2

4

In [ ]:
# Resto da divisão

3 % 4

3

In [ ]:
# Divisão de chão

3 // 4

0

In [ ]:
# Priorização = usar parênteses

(2 + 2) * 5

20

**VARIÁVEIS**

In [ ]:
nome = 'Marcelo Augusto Viana Henrique'

In [ ]:
print(nome)

Marcelo Augusto Viana Henrique

In [ ]:
# Variáveis de texto

var_texto  = 'Qualquer coisa'
var_texto_2 = str('Qualquer coisa')

print(var_texto)
print(var_texto_2)
print(var_texto, var_texto_2)

Qualquer coisa
Qualquer coisa
Qualquer coisa Qualquer coisa

In [ ]:
# Variáveis numéricas

var_inteiro = 100
var_inteiro_02 = int(100)

print(var_inteiro)
print(var_inteiro_02)
print(var_inteiro, var_inteiro_02)

100
100
100 100

In [ ]:
# Variáveis flutuantes

var_flutuante = 10.90
var_flutuante_2 = float(10.90)

print(var_flutuante)
print(var_flutuante_2)
print(var_flutuante, var_flutuante_2)

10.9
10.9
10.9 10.9

In [ ]:
# Variáveis booleanas

var_booleana = True
var_booleana_2 = False

print(var_booleana)
print(var_booleana_2)
print(var_booleana, var_booleana_2)

True
False
True False

**TIPOS DE DADOS**

1. Listas - São criadas usando [] (**chaves**)
2. Tuplas - São criadas usando () (**parenteses**)
3. Dicionários - São criados usando {} (**Colchete**)

Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas.

In [ ]:
# Listas
exemplo_01 = [1, 2, 3, 4, 5, 6, 7, 8]
exemplo_02 = ["Nome", "Sobrenome", "Idade", 4, 5]
exemplo_03 = [1, "Texto", True, [1, 2, 3]]

print(exemplo_01) 
print(exemplo_02)
print(exemplo_03)

[1, 2, 3, 4, 5, 6, 7, 8]
['Nome', 'Sobrenome', 'Idade', 4, 5]
[1, 'Texto', True, [1, 2, 3]]

In [ ]:
# Tuplas (São IMUTÁVEIS)
exemplo_01 = (1, 2, 3, 4, 5)
exemplo_02 = ("Texto", True, 2, 2.90)

print(exemplo_01)
print(exemplo_02)

(1, 2, 3, 4, 5)
('Texto', True, 2, 2.9)

In [ ]:
# Dicionários (Chave + Valor)
exemplo_01 = {
    'index': 'valor',
    'id': 1,
    'nome': 'Marcelo',
    'lista': exemplo_03,
    'tupla': exemplo_02
}

print(exemplo_01)

{'index': 'valor', 'id': 1, 'nome': 'Marcelo', 'lista': [1, 'Texto', True, [1, 2, 3]], 'tupla': ('Texto', True, 2, 2.9)}

**NOMEAÇÃO DE VARIÁVEIS**

Podemos nomear variáveis e tipos de dados de diversas formas:

1. Declarar as variáveis em uma única linha de comando;
2. Atribuir um valor à diversas variáveis;
3. Declarar usando uma lista;
4. Combinar variáveis;
5. Operar com operadores matemáticos;
6. Muitos outros.

In [ ]:
# Nomeando

laranja, melao, limao = 1, 2, 3

print(laranja, melao, limao)

1 2 3

In [ ]:
# Nomeando

morango = uva = kiwi = 100

print(morango, uva, kiwi)
print(morango)

100 100 100
100

In [ ]:
# Nomear com Listas

lista_carros = ['VW', 'Audi', 'Tesla']

marca_01, marca_02, marca_03 = lista_carros

print(marca_01, marca_02, marca_03)
print(marca_01)

VW Audi Tesla
VW

In [ ]:
# Combinar variáveis

nome = 'Marcelo'
sobrenome = 'Augusto'

nome_completo = nome + ' ' + sobrenome

print(nome_completo)

Marcelo Augusto

In [ ]:
# TypeError: can only concatenate str (not "int") to str

nome = 'Marcelo'
idade = 28

print(nome + '-' + idade)

TypeError: ignored

In [ ]:
# Forma correta de executar a aglutinação acima

nome = 'Marcelo'
idade = 28

print(nome + ' ' + str(idade) + ' anos')

Marcelo 28 anos

In [ ]:
# Exemplo
# Forma INCORRETA de executar o cálculo matemático, pois repetirá o '0.20' MIL vezes

investimento = 1000
taxa_juros = '0.2'

print(investimento * taxa_juros)

0.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.20.2

In [21]:
# Formas CORRETAs de executar o cálculo matemático

investimento = 1000
taxa_juros = float(0.2)

print(investimento * taxa_juros)

# OU

investimento = 1000
taxa_juros = 0.2

print(investimento * float(taxa_juros))

# OU

investimento = 1000
taxa_juros = 0.2

print(investimento * taxa_juros)

200.0
200.0
200.0

In [22]:
valor_ganhado = (investimento * taxa_juros) + investimento

print(valor_ganhado)

1200.0

**TIPO DA INFORMAÇÃO**

Na programação, o tipo de dados é um conceito importante. Variáveis podem armazenar dados de diferentes tipos e diferentes tipos podem fazer coisas diferentes. O Python tem os seguintes tipos de dados integrados por padrão nestas categorias:

1. Text Type: str
2. Numeric Types: int, float, complex
3. Sequence Types: list, tuple, range
4. Mapping Types: dict
5. Set Types: set, frozenset
6. Boolean Types: bool
7. Binary Types: bytes, bytearray, memoryview

In [29]:
String = str('Hello World')
Inteiro = int(10)
Flutuante = float(100.5)
Complex = complex(1j)
Lista = list(('Maça', 'Morango'))
Tupla = tuple(('A', 'B'))
Range = range(6)
Dicionario = dict(nome='Marcelo', idade=28)
Set = set(('A', 'B', 'C'))
Frozenset = frozenset(('A', 'B', 'C'))
Boleano = bool(5)
Bytes = bytes(5)
ByteArray =bytearray(5)
MemoryView = memoryview(bytes(5))

from datetime import datetime

data = datetime.today().date()

**COMANDO ROUND**

Quando trabalhamos com números flutuantes, podemos diminuir o número de casas decimais e arredondar para o valor mais próximo usando um comando nativo do Python.

round(valor, número de casas)

In [31]:
valor = 12.78994656555

print(valor)


valor_02 = round(valor, 2)

print(valor_02)

12.78994656555
12.79

**COMANDO LEN**

A função len() retorna a quantidade de elementos de qualquer lista em Python, essa é mais uma função **built-in** disponível em qualquer parte dos nossos códigos.

In [1]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Dicionario = {'Nome': 'Marcelo', 'Idade': 28} # chave : valor
Tupla = (1, 2, 3)
String = 'Hello World!'

In [4]:
print(len(Lista))
print(len(Dicionario))
print(len(Tupla))
print(len(String))

10
2
3
12

**FATIAMENTO DE STRINGS**

Strings são listasde bytes representando caracteres.
Podemos acessar suas posições usando colchetes..

*String[Posição Inicial: Posição Final]*

In [7]:
String = 'Aprender Python é massa demais!'

print(type(String))
print(len(String))

<class 'str'>
31

In [17]:
print(String[0:23])

print(String[:23])

print(String[-1]) # última posição 

print(String[-22:])

Aprender Python é massa
Aprender Python é massa
!
Python é massa demais!