In [ ]:
print('Olá, Mundo! ')
print(7 + 4)
print('7' + '4')
print('Olá', 5)

# toda variável é um objeto
nome = 'Guanabara' 
idade = 25
peso = 75.8

print(nome, idade, peso)

Olá, Mundo!
11
74
Olá 5
Guanabara 25 75.8

In [ ]:
nome = input('Digite seu nome: ')
idade = input('Digite sua idade: ')
peso = input('Digite seu peso: ')

print(nome, idade, peso)

Digite seu nome: Marcelo
Digite sua idade: 28
Digite seu peso: 83.5
Marcelo 28 83.5

In [ ]:
# DESAFIO 01 

nome = input('Qual é o seu nome? ')
print(f"Olá {nome}, prazer em te conhecer!")

Qual é o seu nome? Marcelo
Olá Marcelo, prazer em te conhecer!

In [ ]:
# DESAFIO 02

dia = input('Dia = ')
mes = input('Mes = ')
ano = input('Ano = ')
print(f'Você nasceu no dia {dia} de {mes} de {ano}. Correto?')

Dia = 16
Mes = Maio
Ano = 1994
Você nasceu no dia 16 de Maio de 1994. Correto?

In [ ]:
# DESAFIO 03

n1 = int(input('Primeiro número: '))
n2 = int(input('Segundo número: '))
print(f'A soma é {n1 + n2}')

Primeiro número: 15
Segundo número: 25
A soma é 40

In [ ]:
# DESAFIO 03

n1 = int(input('Primeiro número: '))
n2 = int(input('Segundo número: '))
soma = n1 + n2
print('A soma entre {0} e {1} é {2}'.format(n1, n2, soma))

Primeiro número: 5
Segundo número: 10
A soma entre 5 e 10 é 15

In [ ]:
n = input('Digite algo: ')
print(n.isnumeric())

Digite algo: 5
True

In [ ]:
n = input('Digite algo: ')
print(n.isalpha())

Digite algo: A
True

In [ ]:
n = input('Digite algo: ')
print(n.isalnum())

Digite algo: 3A
True

In [ ]:
informacao = input('Digite algo: ')
print(type(informacao))
print(informacao.isnumeric())
print(informacao.isalpha())
print(informacao.isalnum())

Digite algo: 5H
<class 'str'>
False
False
True

In [17]:
# DESAFIO 04

a = input('Digite algo: ')
print(f'O tipo primitivo desse valor é {type(a)}')
print(f'Só tem espaços? {a.isspace()}')
print(f'É um número? {a.isnumeric()}')
print(f'É alfabético? {a.isalpha()}')
print(f'É alfanumérico? {a.isalnum()}')
print(f'Está em maiúsculas? {a.isupper()}')
print(f'Está em minúsculas? {a.islower()}')
print(f'Está capitalizada? {a.istitle()}')

Digite algo: Python
O tipo primitivo desse valor é <class 'str'>
Só tem espaços? False
É um número? False
É alfabético? True
É alfanumérico? True
Está em maiúsculas? False
Está em minúsculas? False
Está capitalizada? True

In [29]:
nome = str(input('Qual é seu nome? '))
print(f'Prazer em te conhecer, {nome:>20}!')
print(f'Prazer em te conhecer, {nome:<20}!')
print('Prazer em te conhecer, {:^20}!'.format(nome))
print('Prazer em te conhecer, {:=^20}!'.format(nome))

Qual é seu nome? Marcelo
Prazer em te conhecer,              Marcelo!
Prazer em te conhecer, Marcelo             !
Prazer em te conhecer,       Marcelo       !
Prazer em te conhecer, ======Marcelo=======!

In [22]:
# ORDEM DE PRECEDÊNCIA

# 5 + 3 x 2 = 11
# 3 * 5 + 4 ** 2 = 3 * 5 + 16 = 15 + 16 = 31 
# 3 * (5 + 4) ** 2 = 3 * 9 ** 2 = 3 * 81 = 243

print(pow(4, 3))
print(81**(1/2)) # descobrir raiz quadrada de 81 
print(127**(1/3)) # descobrir raiz cubica de 127
print('='*20)

64
9.0
5.026525695313479
====================

In [18]:
n1 = int(input('Digite o primeiro valor: '))
n2 = int(input('Digite o segundo valor: '))
print('\n')
s = n1 + n2
m = n1 * n2
d = n1 / n2
di = n1 // n2
e = n1 ** n2

# PRIMEIRA OPÇÃO
print(f'A soma é {s}, o produto é {m} e a divisão é {d:.3f}') # d:.3f > quantidade de casas decimais flutuantes
print(f'Divisão inteira {di} e potência {e}')
print('\n')
# SEGUNDA OPÇÃO
print(f'A soma é {s}, o produto é {m} e a divisão é {d:.3f}', end = ' ') # end = ' ' > printa tudo na mesma linha
print(f'Divisão inteira {di} e potência {e}')
print('\n')
# TERCEIRA OPÇÃO 
print(f'A soma é {s},\n o produto é {m}\n e a divisão é {d:.3f}\n', end = ' >>> ') # end = ' ' > printa tudo na mesma linha
print(f'Divisão inteira {di} e potência {e}')

Digite o primeiro valor: 9
Digite o segundo valor: 6


A soma é 15, o produto é 54 e a divisão é 1.500
Divisão inteira 1 e potência 531441


A soma é 15, o produto é 54 e a divisão é 1.500 Divisão inteira 1 e potência 531441


A soma é 15,
 o produto é 54
 e a divisão é 1.500
 >>> Divisão inteira 1 e potência 531441

In [16]:
# DESAFIO 05

numero = int(input('Digite um número: '))
ant = numero - 1
suc = numero + 1

print(f'Seu antecessor é: {ant}')
print(f'Seu sucessor é: {suc}')

print('Analisando o valor {}, seu sucessor é {} e seu antecessor é {}'.format(numero, (numero + 1), (numero - 1))) #

Digite um número: 5
Seu antecessor é: 4
Seu sucessor é: 6
Analisando o valor 5, seu sucessor é 6 e seu antecessor é 4

In [23]:
# DESAFIO 06

n = int(input('Digite um número: '))

d = n * 2
t = n * 3
#q = n ** 2
q = n ** (1/2) #

print('O dobro de {0} é {1} e seu triplo é {2} e sua raiz quadrada é {3}'.format(n, d, t, q))

print('O dobro de {0} é {1} e seu triplo é {2} e sua raiz quadrada é {3:.2f}'.format(n, d, t, q)) #

print('O dobro de {0} é {1} e seu triplo é {2} e sua raiz quadrada é {3:.2f}'.format(n, (n * 2), (n * 3), (n ** (1/2)))) #

print('O dobro de {0} é {1} e seu triplo é {2} e sua raiz quadrada é {3:.2f}'.format(n, (n * 2), (n * 3), pow(n, (1/2)))) #

Digite um número: 81
O dobro de 81 é 162 e seu triplo é 243 e sua raiz quadrada é 9.0
O dobro de 81 é 162 e seu triplo é 243 e sua raiz quadrada é 9.00
O dobro de 81 é 162 e seu triplo é 243 e sua raiz quadrada é 9.00
O dobro de 81 é 162 e seu triplo é 243 e sua raiz quadrada é 9.00

In [26]:
# DESAFIO 07

nota01 = float(input('Digite sua primeira nota: '))
nota02 = float(input('Digite sua segunda nota: '))
media = (nota01 + nota02) / 2

print(f'A media das notas {nota01} e {nota02} é: {media}')

print(f'A media das notas {nota01:.1f} e {nota02:.1f} é: {media:.1f}') #

Digite sua primeira nota: 5.5
Digite sua segunda nota: 2
A media das notas 5.5 e 2.0 é: 3.75
A media das notas 5.5 e 2.0 é: 3.8

In [28]:
# DESAFIO 08

metros = float(input('Digite quantos metros: '))

centimetros = metros * 100
#milimetros = (metros * 100) * 10
milimetros = metros * 1000 #

print(f'{metros} metros tem {centimetros} centímetros e {milimetros} milímetros.')

print(f'{metros} metros tem {centimetros:.0f} centímetros e {milimetros:.0f} milímetros.') #

Digite quantos metros: 20
20.0 metros tem 2000.0 centímetros e 20000.0 milímetros.
20.0 metros tem 2000 centímetros e 20000 milímetros.

In [38]:
# DESAFIO 09

num_int = int(input('Digite um número: '))
contador = 0
print('\n')

while contador <= 10:
  tab = num_int * contador
  print(f'{num_int} X {contador} = {tab}')
  contador = contador + 1
print('\n')

# INICIANTE
print('-' * 12)
print('{} X {:2} = {}'.format(num_int, 1, num_int * 1)) 
print('{} X {:2} = {}'.format(num_int, 2, num_int * 2))
print('{} X {:2} = {}'.format(num_int, 3, num_int * 3))
print('{} X {:2} = {}'.format(num_int, 4, num_int * 4))
print('{} X {:2} = {}'.format(num_int, 5, num_int * 5))
print('{} X {:2} = {}'.format(num_int, 6, num_int * 6))
print('{} X {:2} = {}'.format(num_int, 7, num_int * 7))
print('{} X {:2} = {}'.format(num_int, 8, num_int * 8))
print('{} X {:2} = {}'.format(num_int, 9, num_int * 9))
print('{} X {:2} = {}'.format(num_int, 10, num_int * 10))
print('-' * 12)

Digite um número: 5


5 X 0 = 0
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50


------------
5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X 10 = 50
------------

In [42]:
# DESAFIO 10

real = float(input('Digite quantos reais você tem na carteira: R$'))
dolar = 3.27
qtd_dolares = real / dolar

print('Com {} reais e o dolár custando {}, você pode comprar {:.2f} doláres.'.format(real, dolar, qtd_dolares))

Digite quantos reais você tem na carteira: R$17.55
Com 17.55 reais e o dolár custando 3.27, você pode comprar 5.37 doláres.

In [1]:
# DESAFIO 11

largura = float(input('Largura da parede: '))
altura = float(input('Altura da parede: '))

area = largura * altura
lt_tinta = area / 2

print(f'Para pintar {area} metros quadrados de área, são necessários {lt_tinta} litros de tinta')

Largura da parede: 2.5
Altura da parede: 1.75
Para pintar 4.375 metros quadrados de área, são necessários 2.1875 litros de tinta

In [3]:
# DESAFIO 12

preco = float(input('Digite um valor: '))
desconto = 5 / 100 * preco
novo_preco = preco - desconto

novo_preco = preco - (preco * 5 / 100) #

print(f'Preço sem desconto é: {preco}. Preço com desconto é: {novo_preco:.2f}')
print(f'Valor do desconto é: {desconto:.2f}')

Digite um valor: 123.95
Preço sem desconto é: 123.95. Preço com desconto é: 117.75
Valor do desconto é: 6.20

In [14]:
# DESAFIO 13

salario = float(input('Digite seu salário: '))
aumento = 15 / 100 * salario
novo_salario = salario + aumento

print(f'Seu salário de {salario} foi reajustado para {novo_salario} com um aumento de 15%. Parabéns')
print(f'Você ganhou um aumento de {aumento} reais')

Digite seu salário: 11000
Seu salário de 11000.0 foi reajustado para 12650.0 com um aumento de 15%. Parabéns
Você ganhou um aumento de 1650.0 reais

In [5]:
# DESAFIO 14

celsius = float(input('Informe a temperatura em C°: '))
fahrenheit = ((celsius / 5) * 9) + 32
fahrenheit = ((9 * celsius) / 5) + 32 #
fahrenheit = 9 * celsius / 5 + 32 #

print('A temperatura de {:.1f}°C corresponde a {:.1f}°F'.format(celsius, fahrenheit))

Informe a temperatura em C°: 31.5
A temperatura de 31.5°C corresponde a 88.7°F

In [7]:
# DESAFIO 15

qtd_dias = int(input('Digite a quantidade de dias alugados: '))
km = float(input('Digite a quantidade de quilômetros percorridos: '))

total_pagar = (qtd_dias * 60) + (km * 0.15)

print(f'O total a pagar é de R${total_pagar:.2f}')

Digite a quantidade de dias alugados: 8
Digite a quantidade de quilômetros percorridos: 720
O total a pagar é de R$588.00