**Reshaping é uma remodulação.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range('20200101', periods = 6)

df = pd.DataFrame(np.random.randn(6, 4), index = datas, columns = ['Var_A', 'Var_B', 'Var_C', 'Var_D'])

In [3]:
df

               Var_A     Var_B     Var_C     Var_D
2020-01-01 -1.214627  0.037332 -0.574470 -0.212335
2020-01-02 -1.449373 -2.243554 -1.263983  0.635605
2020-01-03 -0.830702  0.982040  0.006726  1.201384
2020-01-04 -0.527103  0.641121 -0.451706 -0.566349
2020-01-05 -0.069858  1.240775  0.355956 -0.658951
2020-01-06  0.440779  0.247427  0.405874  1.119212

In [4]:
df.T

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A   -1.214627   -1.449373   -0.830702   -0.527103   -0.069858    0.440779
Var_B    0.037332   -2.243554    0.982040    0.641121    1.240775    0.247427
Var_C   -0.574470   -1.263983    0.006726   -0.451706    0.355956    0.405874
Var_D   -0.212335    0.635605    1.201384   -0.566349   -0.658951    1.119212

In [5]:
dft = df.T

dft

       2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
Var_A   -1.214627   -1.449373   -0.830702   -0.527103   -0.069858    0.440779
Var_B    0.037332   -2.243554    0.982040    0.641121    1.240775    0.247427
Var_C   -0.574470   -1.263983    0.006726   -0.451706    0.355956    0.405874
Var_D   -0.212335    0.635605    1.201384   -0.566349   -0.658951    1.119212

In [6]:
df.shape

(6, 4)

In [7]:
dft.shape

(4, 6)

In [8]:
dft.values

array([[-1.21462664, -1.4493732 , -0.83070151, -0.52710307, -0.06985807,
         0.44077928],
       [ 0.03733172, -2.24355365,  0.98204049,  0.64112132,  1.24077542,
         0.24742736],
       [-0.57446996, -1.26398311,  0.00672574, -0.45170606,  0.35595583,
         0.40587415],
       [-0.21233487,  0.63560528,  1.20138426, -0.56634932, -0.65895143,
         1.1192116 ]])

In [9]:
np.size(dft.values)

24

In [10]:
v = dft.values

In [11]:
v.reshape((2, 12))

array([[-1.21462664, -1.4493732 , -0.83070151, -0.52710307, -0.06985807,
         0.44077928,  0.03733172, -2.24355365,  0.98204049,  0.64112132,
         1.24077542,  0.24742736],
       [-0.57446996, -1.26398311,  0.00672574, -0.45170606,  0.35595583,
         0.40587415, -0.21233487,  0.63560528,  1.20138426, -0.56634932,
        -0.65895143,  1.1192116 ]])