In [1]:
import pandas as pd
import numpy as np

In [2]:
datas = pd.date_range(start = '20180101', periods = 600, freq = 'D')

df = pd.DataFrame(np.random.randn(600,5), index = datas, columns = list('ABCDE'))

In [3]:
df

                   A         B         C         D         E
2018-01-01 -0.993865 -0.290775 -1.230105 -1.708209 -0.764025
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280
2018-01-04 -0.144189  1.982560 -0.820151  0.986341 -1.058798
2018-01-05  0.429433 -0.690026  0.652779  0.042780 -0.459063
...              ...       ...       ...       ...       ...
2019-08-19  1.144578  0.668028 -0.160787  0.743030  1.138132
2019-08-20  0.968086  0.116542 -0.624831 -0.467916  0.367872
2019-08-21  0.607700 -0.950096  0.929434  0.254837 -0.938909
2019-08-22 -0.070099  0.494391  0.375991  0.794287 -1.046380
2019-08-23 -0.817334  1.044070 -0.485936 -1.607109  1.659778

[600 rows x 5 columns]

In [4]:
df.head(3)

                   A         B         C         D         E
2018-01-01 -0.993865 -0.290775 -1.230105 -1.708209 -0.764025
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280

In [5]:
df['D']

2018-01-01   -1.708209
2018-01-02   -1.080505
2018-01-03    0.119058
2018-01-04    0.986341
2018-01-05    0.042780
                ...
2019-08-19    0.743030
2019-08-20   -0.467916
2019-08-21    0.254837
2019-08-22    0.794287
2019-08-23   -1.607109
Freq: D, Name: D, Length: 600, dtype: float64

In [6]:
df['D'].head(5)

2018-01-01   -1.708209
2018-01-02   -1.080505
2018-01-03    0.119058
2018-01-04    0.986341
2018-01-05    0.042780
Freq: D, Name: D, dtype: float64

In [7]:
df[0:4]

                   A         B         C         D         E
2018-01-01 -0.993865 -0.290775 -1.230105 -1.708209 -0.764025
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280
2018-01-04 -0.144189  1.982560 -0.820151  0.986341 -1.058798

In [8]:
df[1:5]

                   A         B         C         D         E
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280
2018-01-04 -0.144189  1.982560 -0.820151  0.986341 -1.058798
2018-01-05  0.429433 -0.690026  0.652779  0.042780 -0.459063

In [9]:
df.loc[:, ['B', 'C', 'D']]

                   B         C         D
2018-01-01 -0.290775 -1.230105 -1.708209
2018-01-02 -0.810222  0.382031 -1.080505
2018-01-03  1.540187  0.342476  0.119058
2018-01-04  1.982560 -0.820151  0.986341
2018-01-05 -0.690026  0.652779  0.042780
...              ...       ...       ...
2019-08-19  0.668028 -0.160787  0.743030
2019-08-20  0.116542 -0.624831 -0.467916
2019-08-21 -0.950096  0.929434  0.254837
2019-08-22  0.494391  0.375991  0.794287
2019-08-23  1.044070 -0.485936 -1.607109

[600 rows x 3 columns]

In [10]:
df.head(3)

                   A         B         C         D         E
2018-01-01 -0.993865 -0.290775 -1.230105 -1.708209 -0.764025
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280

In [11]:
df.loc['20180301':'20180917', ['A', 'E']]

                   A         E
2018-03-01  0.829091 -0.246537
2018-03-02 -1.614954  0.761954
2018-03-03  0.899001  0.653904
2018-03-04 -0.582301  0.381146
2018-03-05  0.469828 -0.737779
...              ...       ...
2018-09-13 -0.504163 -0.604440
2018-09-14 -0.782502 -1.310957
2018-09-15  0.092772 -0.785738
2018-09-16 -0.481375 -0.334956
2018-09-17 -0.116272 -0.721454

[201 rows x 2 columns]

In [12]:
df.loc['20180301':'20180917', ['A', 'E']].head(4)

                   A         E
2018-03-01  0.829091 -0.246537
2018-03-02 -1.614954  0.761954
2018-03-03  0.899001  0.653904
2018-03-04 -0.582301  0.381146

In [13]:
f = df.loc['20180301':'20180917', ['A', 'E']]

In [14]:
len(f)

201

In [15]:
df.iloc[1]

A   -0.394944
B   -0.810222
C    0.382031
D   -1.080505
E   -0.981911
Name: 2018-01-02 00:00:00, dtype: float64

In [16]:
df.iloc[2:4, 0:2]

                   A         B
2018-01-03 -1.517515  1.540187
2018-01-04 -0.144189  1.982560

In [17]:
df.iloc[[1, 5, 6], [0, 3]]

                   A         D
2018-01-02 -0.394944 -1.080505
2018-01-06 -0.490650  1.805839
2018-01-07  0.078371  1.896822

In [18]:
df.iloc[1:3, :]

                   A         B         C         D         E
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280

In [19]:
df.head()

                   A         B         C         D         E
2018-01-01 -0.993865 -0.290775 -1.230105 -1.708209 -0.764025
2018-01-02 -0.394944 -0.810222  0.382031 -1.080505 -0.981911
2018-01-03 -1.517515  1.540187  0.342476  0.119058 -0.158280
2018-01-04 -0.144189  1.982560 -0.820151  0.986341 -1.058798
2018-01-05  0.429433 -0.690026  0.652779  0.042780 -0.459063

In [20]:
df.A

2018-01-01   -0.993865
2018-01-02   -0.394944
2018-01-03   -1.517515
2018-01-04   -0.144189
2018-01-05    0.429433
                ...
2019-08-19    1.144578
2019-08-20    0.968086
2019-08-21    0.607700
2019-08-22   -0.070099
2019-08-23   -0.817334
Freq: D, Name: A, Length: 600, dtype: float64

In [21]:
df[df.A > 0]

                   A         B         C         D         E
2018-01-05  0.429433 -0.690026  0.652779  0.042780 -0.459063
2018-01-07  0.078371 -1.247629  0.216249  1.896822 -0.230416
2018-01-10  2.640210  1.994362 -0.205634  0.538600 -0.030490
2018-01-13  0.198460 -2.192632 -0.445570 -1.281755  0.470963
2018-01-17  1.694069  0.021522  0.211311  1.075885 -0.922251
...              ...       ...       ...       ...       ...
2019-08-17  1.123064 -0.364167 -0.338973  0.013426 -1.000407
2019-08-18  0.672843 -1.997690 -0.968450  0.610491  0.495470
2019-08-19  1.144578  0.668028 -0.160787  0.743030  1.138132
2019-08-20  0.968086  0.116542 -0.624831 -0.467916  0.367872
2019-08-21  0.607700 -0.950096  0.929434  0.254837 -0.938909

[283 rows x 5 columns]

In [22]:
df[df > 0]

                   A         B         C         D         E
2018-01-01       NaN       NaN       NaN       NaN       NaN
2018-01-02       NaN       NaN  0.382031       NaN       NaN
2018-01-03       NaN  1.540187  0.342476  0.119058       NaN
2018-01-04       NaN  1.982560       NaN  0.986341       NaN
2018-01-05  0.429433       NaN  0.652779  0.042780       NaN
...              ...       ...       ...       ...       ...
2019-08-19  1.144578  0.668028       NaN  0.743030  1.138132
2019-08-20  0.968086  0.116542       NaN       NaN  0.367872
2019-08-21  0.607700       NaN  0.929434  0.254837       NaN
2019-08-22       NaN  0.494391  0.375991  0.794287       NaN
2019-08-23       NaN  1.044070       NaN       NaN  1.659778

[600 rows x 5 columns]