Stack - Pilha || Unstack - Desempilhar

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("https://cdncontribute.geeksforgeeks.org/wp-content/uploads/nba.csv")df

In [6]:
df.head(4)

            Name            Team  Number  ... Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0  ...  180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0  ...  235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0  ...  205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0  ...  185.0      Georgia State  1148640.0

[4 rows x 9 columns]

In [7]:
df.shape

(458, 9)

In [10]:
stack_df = df.stack()

In [11]:
stack_df

0    Name         Avery Bradley
     Team        Boston Celtics
     Number                   0
     Position                PG
     Age                     25
                      ...
456  Age                     26
     Height                 7-0
     Weight                 231
     College             Kansas
     Salary              947276
Length: 4018, dtype: object

In [12]:
udf = stack_df.unstack()

In [13]:
udf.head(3)

            Name            Team Number  ... Weight            College       Salary
0  Avery Bradley  Boston Celtics      0  ...    180              Texas  7.73034e+06
1    Jae Crowder  Boston Celtics     99  ...    235          Marquette  6.79612e+06
2   John Holland  Boston Celtics     30  ...    205  Boston University          NaN

[3 rows x 9 columns]